
body{
  padding-top:  50px;
}

#headerWrapper{
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden; /* nu creeaza scrollbar */
  height: 800px;
  background-image: url(../images/rucsace.png);
  background-repeat: no-repeat;
  background-size: 100% 900px; /* width 100% si height 700px*/
  background-position: top center;
  background-attachment: fixed;

}
.img-size{
  width: auto;
  height: 200px;
}

#footer{
  margin-top:50px;

}

img.detalii{
  width: 90%;
  margin: 15px auto;

}

#main_page
{
    background-image: url('b.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}


.saved-image img{
  width:200px;
  height:auto;
}

#add-product-btn{
  margin-top: -35px;
}


#login-form{
  width: 50%;
  height: 50%;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
  margin: 8% auto;
  padding: 15px;
/*  background: transparent;*/
background-color: white;
}

.totals-table-header th{
  text-align:center;
}
.parallax-bg {
  height:200px;
}
